*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



.container{
    width: 100vw;
    margin: 0 auto;
    padding: 10px;
    height: 80vh;
}

.title{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    margin-top: 3vh;
}

.subcontainer{
    width: 30vw;
    height: 40vh;
    margin: 0 auto;
    margin-top: 5vh;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid rgb(247, 35, 88);
    justify-content: center;
    border-top: 8px solid rgb(247, 35, 88);
    border-radius: 10px;
    box-shadow: 0px 2px 12px 0px rgba(177, 176, 176, 0.75);
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form label{
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    color: gray;
}

.form input{
    border: 1px solid rgb(185, 185, 185);
    padding: 8px;
    margin-top: 2px;
    margin-bottom: 12px;
    border-radius: 5px;

}

.form input:focus{
    outline: none;
    border:none;
    border: 1px solid rgb(247, 35, 88);
}

.subtitle{
    text-align: center;
}

.btn{
    margin: 10px;
    border:none;
    width: 100%;
    height: 30px;
    margin: auto;
    background-color: rgb(247, 35, 88);
    padding: 8px;
    color: white;
    transition: all 0.4s linear;
    border-radius: 4px;
}

.btn:hover{
    transition: all 0.4s linear;
    background-color: rgb(158, 11, 48);
    cursor: pointer;
}

.hyperlink{
    text-align: center;
    margin-top: 10px;
    font-size:0.8rem;
    font-weight: 600;
    color: rgb(248, 63, 109);
    text-decoration: none;
    transition: all 0.4s linear;
    margin-top: 12px;
}

.hyperlink:hover{
    transition: all 0.4s linear;
    color: rgb(165, 11, 50);
}


.mail-message{
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    padding: 5px;
}

.svg{
    position: absolute;
    bottom: 0;
    left: 0;
}

